<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap Documentation http://twitter.github.io/bootstrap/base-css.html-->
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="/static/css/style.css" rel="stylesheet">
        
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Project name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
                
            {% endblock content %}
        </div> <!-- /container -->

        <!-- Le javascript -->
        
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-transition.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-alert.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-modal.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-dropdown.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-scrollspy.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-tab.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-tooltip.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-popover.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-button.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-collapse.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-carousel.js"></script>
        <script src="/static/js/vendor/bootstrap/bootstrap-typeahead.js"></script>

    </body>
</html>
